.topic-container {
  display: flex;
  padding: 8px 12px;
  border-radius: 4px;
  background: lightblue;
  margin: 12px 0;
  border: unset;
  cursor: pointer;
  box-shadow: 3px 3px 6px 3px #3336;
}

.topic-container .topic-type {
  display: flex;
  margin-right: 14px;
  border-radius: 25px;
  background: linear-gradient(25deg, blue, darkblue);
  color: #DDD;
  font-size: 1.1rem;
  align-self: center;
  width: 42px;
  height: 42px;
  min-width: 42px;
  max-width: 42px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.topic-container .topic-name {
  flex: auto;
  font-size: 0.8rem;
  color: #111;
  line-height: 1.1rem;
  align-self: center;
}