@import './Styles/Reset.css';
@import './Styles/Card.css';
@import './Styles/ToggleButton.css';
@import './Styles/TopicItem.css';

body {
  background: linear-gradient(25deg, purple, darkblue);
}

.app {
  position: relative;
  min-height: 100vh;
}

.app-header {
  padding: 10px 14px 10px 6px;
  background: #09102099;
  font-size: 0.9rem;
}

.app-header button {
  color: #DDD;
  background: inherit;
  border-radius: 4px;
  padding: 2px 8px;
  border: unset;
  cursor: pointer;
}

.app-header button.hidden {
  visibility: hidden;
  pointer-events: none;
  cursor: default;
}



.app-header button svg {
  height: 16px;
  margin-right: 8px;
  vertical-align: sub;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 30px;
}

.app-footer {
  color: #777;
  text-align: center;
  font-size: 0.8rem;
  background-color: #282c3444;
  position: absolute;
  bottom: 0px;
  width: 100vw;
}
